html {
    font-size: 16px;
}

h1, h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
}

h1 {
    font-size: 2rem;
}

h3, p, ul, ol, li, td {
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    line-height: 1.7rem;
}

body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: white;
    max-width: 650px;
    padding: 30px;
    border-radius: 1rem;
}

#introduction img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

#prep-box {
    background-color: hsl(330, 100%, 98%);
    padding: 10px 20px;
    border-radius: 1rem;
}

#prep-box h3 {
    color: hsl(332, 51%, 32%);
}

#nutrition table {
    width: 100%;
}

#ingredients, #instructions {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

table tr:last-child {
    border: none;
}

table tr td:nth-child(2) {
    color: hsl(14, 45%, 36%);
    font-weight: 800;
}

@media screen and (max-width: 500px) {
    article {
        padding: 10px;
    }
}