body {
    background-color: rgb(214, 226, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.card {
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 1rem;
}

h2 {
    color: rgb(31, 50, 81);
    text-align: center;
}

p, h1, h2, h3, h4 {
    font-family: Outfit, sans-serif;
}

p {
    color: rgb(104, 121, 141);
    font-size: 15px;
}